*.mo
*.pyc
*.swo
*~
.idea
.ropeproject/
*.egg-info/
dist/
*.db
*.swp
*.zip
*.orig
.env
mebel/static/.webassets-cache
mebel/static/.sass-cache
mebel/static/cache
mebel/static/upload
mebel/settings_local.py
mebel/dev.db
mebel/newrelic.ini
mebel/uwsgi.ini
